footer 
    .container
        a.logo(href="/") 
            img(src=img+"LOGO.png", alt="") 
        nav                                                   
            ul 
                li 
                    a(href="#") About
                li 
                    a(href="#") Video
                li 
                    a(href="#") Questions
                li 
                    a(href="#") Contacts           
        a.mail(href="#") <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.142883 4.23143L7.75288 8.18928C7.82922 8.22897 7.91399 8.2497 8.00003 8.2497C8.08606 8.2497 8.17083 8.22897 8.24717 8.18928L15.8572 4.23214V11.1071C15.8572 11.7001 15.6303 12.2706 15.2231 12.7016C14.8159 13.1326 14.2592 13.3914 13.6672 13.425L13.5357 13.4286H2.46431C1.87136 13.4286 1.30086 13.2017 0.869861 12.7945C0.43886 12.3873 0.180025 11.8306 0.146455 11.2386L0.142883 11.1071V4.23143ZM2.46431 0.571426H13.5357C14.1287 0.571388 14.6992 0.798251 15.1302 1.20548C15.5612 1.6127 15.82 2.16942 15.8536 2.76143L15.8572 2.89285V3.02428L8.00003 7.11L0.142883 3.02428V2.89285C0.142844 2.2999 0.369708 1.72941 0.776935 1.2984C1.18416 0.867403 1.74088 0.608568 2.33288 0.574998L2.46431 0.571426H13.5357H2.46431Z" fill="#55B353"/></svg>xyz@xyz.com
        img(src=img+"iapsp_logo_full_white-140h2-1.png", alt="", class="footer__img")
    .footer__bottom 
        .copy 2022 Все права защищены